main {
    padding: 1rem;
    margin: auto;
}

form {
    display: inline;
}

.centered {
    text-align: center;
}

.image {
    height: 20rem;
}

.image img {
    height: 100%;
}

.card_actions button,
.card_actions a {
    margin: 0 0.25rem;
}

.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #00695c;
    color: white;
}

.btn.danger {
    color: red;
    border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
    background: red;
    color: aliceblue;
}

@media (min-width: 768px) {
    .main-header_nav {
        display: flex;
    }

    #side-menu-toggle {
        display: none;
    }
}